@charset "utf-8";

body{min-width:1000px;background:#fafafa}

#slides li{padding:0 20px 0 0}

#top-area{position:absolute;top:0;left:0;width:100%;z-index:3}
#top-area h1{float:left;margin:50px 0 0 50px}
/* #top-area h1 img{width:126px;height:74px} */
#top-area ul{float:right;margin:40px 50px 0 0}
#top-area ul li{float:left;margin:0 0 0 10px}

.login_bottom {position:absolute;bottom:50px;left:50px;z-index:3}
.login_bottom img {width:80px;float:left}
.login_bottom span {display:inline-block;font-family:'NanumSquareL';font-size:17px;color:#fff;padding:25px 0 0 15px}

#main-visual h2{margin:230px 0 0 170px}
#main-visual h2 img{position:static !important;left:auto !important;top:auto !important;width:auto !important;max-width:100% !important;height:auto !important;z-index:0 !important;backface-visibility:visible !important}
#main-visual h2.text-center{position:absolute;top:50%;left:50%;margin:0;width:572px;height:69px;margin:-50px 0 0 -286px}

#slogan{position:absolute;top:50%;left:50%;margin:-156px 0 0 -209px;z-index:3}
#scroll{position:absolute;bottom:50px;left:50%;margin:0 0 0 -34px;z-index:3}

.container{max-width:1000px;margin:0 auto;padding:100px 0}
.title-slogan{text-align:center}
.title-slogan h3{margin:60px 0 0;font-family:"nanum-square-r";color:#222;font-size:45px;font-weight:400;letter-spacing:-0.02em}
.title-slogan h3 span{color:#ff8829;font-family:"nanum-square-b"}
.title-slogan p{margin:20px 0 0;font-size:19px;letter-spacing:-0.07em;line-height:30px}
.title-slogan p span{display:block}
.bg-phone{width:100%;margin:115px 0 0;text-align:center}
.icon_play{margin-left:10px;vertical-align:middle}

.pro_click
{
	display:inline-block;
	margin-top:50px;
	/*background:#333;
	color:#fff;
	font-family:"nanum-square-r";
	padding:17px 56px;
	font-size:22px;
	border-radius:250px;*/
	transition:all .3s;
}
.pro_click:hover
{
	/*background:#ff8829*/
}
.pro_click:hover,
.pro_click:active,
.pro_click:focus
{
	color:#fff;
}

#html5-lightbox-box
{
	width:1438px !important;
}
#html5-elem-wrap
{
	width:100% !important;
	/* height:700px !important; */
}

#html5-close{margin-top:0px !important;margin-right:-45px !important}

#how{margin:-200px 0 0;height:982px;background:#f1f0e5 url(../img/bg_how.jpg) no-repeat 50% 50%}
.title-slogan-left{margin-top:170px;text-align:left}
.btn-detail{display:block;margin:56px 0 0}

.tabs-container{margin:85px 0 0;text-align:center}
.tabs-container ul li{display:inline-block;margin:0 20px}
.tabs-container ul li span{display:block;margin:15px 0 0;font-family:"Verdana","Malgun Gothic"}
.tabs-container ul li.active span{color:#ff8829}

#advantage{position:relative}
#advantage:after{content:"";position:absolute;bottom:0;left:0;width:100%;height:380px;background:#ff8829;z-index:-1}
#advantage .container{padding:100px 0 51px}
.tabs-body{max-width:745px;margin:100px auto 0}
.tabs-body:not(.tabs-body-01) { display:none; }
.phone-image{position:relative;float:left;width:372px;height:671px;background:url(../img/bg_phone.png) no-repeat 0 0}
.phone-thumb{position:absolute;top:82px;left:20px}
.phone-thumb img:not(:first-child) { display:none; }
.advantage-group{float:right;width:310px;margin:50px 0 0;text-align:left}
.advantage-01 h3{color:#222;font-family:"nanum-square-b";font-size:39px;font-weight:400;letter-spacing:-0.03em;line-height:48px}
.advantage-01 h3 span{display:block;font-family:"NanumSquareL"}
.advantage-01 p{margin:18px 0 0;font-family:"Verdana","Malgun Gothic";font-size:17px;letter-spacing:-0.07em;line-height:25px}
.advantage-01 p span{display:block}
.advantage-01 > div:not(:first-child) { display:none; }
.advantage-02{margin:68px 0 0}
.advantage-02 ul{margin:-15px 0;padding:80px 0 0}
.advantage-02 ul li:after{content:"";display:block;clear:both}
.advantage-02 ul li{margin:15px 0}
.advantage-02 ul li .icon,.advantage-02 ul li .advantage-item{float:left}
.advantage-02 ul li .advantage-item p{margin:0 0 0 20px;color:#fff;font-family:"Verdana","Malgun Gothic";font-size:17px;letter-spacing:-0.07em;line-height:25px}
.advantage-02 > div:not(:nth-child(2)) { display:none; }

.faq-list{width:100%;margin:54px 0 0}
.faq-list > ul{border-top:2px solid #222}
.faq-list > ul > li{position:relative;font-size:18px;border-bottom:1px solid #e4e4e8;background:url(../img/icon_down_arrow.png) no-repeat 100% 35px}
.faq-list > ul > li.active{background:url(../img/icon_up_arrow.png) no-repeat 100% 35px}
.faq-list > ul > li .q-icon{position:absolute;top:17px;left:28px}
.faq-list > ul > li > a{display:block;padding:28px 28px 28px 100px;letter-spacing:-0.05em}
.faq-list > ul > li > ul{display:none;margin:-28px;padding:28px}
.faq-list > ul > li:first-child > ul { display:block; }
.faq-list > ul > li > ul > li{border-top:1px solid #e4e4e8;font-family:"Verdana","Malgun Gothic";font-size:16px;letter-spacing:-0.05em;line-height:26px;background:#f2f2f7}
.faq-list > ul > li > ul > li .a-group{position:relative;padding:20px 20px 20px 100px}
.faq-list > ul > li > ul > li .a-group .a-icon{position:absolute;top:17px;left:28px}

#footer{padding:80px 0 90px;background:#302e37;text-align:center}
#footer p{color:#acabaf;font-size:19px;letter-spacing:-0.05em}
#footer ul{margin:35px 0 0}
#footer div ul:nth-of-type(1){margin:35px 0 0}
#footer ul:nth-child(2){margin:10px 0 0}
#footer ul li{display:inline-block;margin:0 15px}
#footer .footer-info {max-width:1200px;margin:35px auto 0;font-family:"Verdana","Malgun Gothic"}
#footer .footer-info ul li{position:relative;color:rgba(255,255,255,0.3);font-size:14px}
#footer .footer-info ul li:after{content:"";position:absolute;top:3px;right:-19px;width:1px;height:79%;background:rgba(255,255,255,0.1)}
/* #footer .footer-info ul:not(:nth-child(2)) li:first-child{display:block;margin:0 0 20px} */
#footer .footer-info ul li:first-child:after,#footer .footer-info ul li:last-child:after{display:none}
#footer .footer-info ul li .info{color:rgba(255,255,255,0.5)}

.go-service{position:fixed;bottom:50px;right:50px;z-index:10}

#service-modal{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:101;text-align:center;overflow:auto}
#service-modal:before{content:"";position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:-1}
.modal-pay{overflow:hidden;position:relative;width:1000px;margin:0 auto}
.modal-close{position:absolute;top:40px;right:40px}
.modal-close a{display:block}

@media screen and (max-width:1640px)
{
	#html5-lightbox-box
	{
		width:80% !important;
	}
}

@media screen and (max-width:1025px) {
	body,html{overflow-x:hidden}
	#main-visual h2{margin:160px 0 0 100px}
	.title-slogan-left{margin-left:50px}
	.faq-list{width:92%;padding:0 4%}
}

@media screen and (max-height: 930px) {
	.modal-container{padding:80px 0 70px}
}

@media screen and (max-height: 800px) {
	.modal-container{padding:180px 0 170px}
}

@media screen and (max-height: 600px) {
	.modal-container{padding:250px 0 240px}
}

@media screen and (max-height: 400px) {
	.modal-container{padding:400px 0 240px}
}