@charset "UTF-8";
@import url(./normalize.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  color: #666;
  font-size: 15px;
  font-family: "맑은 고딕", "Malgun Gothic", "돋움", Dotum, "굴림", Gulim, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  margin: 60px 0 0;
  font-family: "NanumSquareRound";
  color: #222;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

button,
input,
select,
textarea {
  border: 0;
  background-color: transparent;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  border: 0;
  vertical-align: top;
}

section {
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

.title-slogan {
  text-align: center;
}
.title-slogan h3 {
  font-size: 45px;
  font-weight: 400;
  letter-spacing: -0.02em;
}
.title-slogan span {
  color: #ff8829;
  font-family: "NanumSquareBold";
}
.title-slogan p {
  margin: 20px 0 0;
  font-size: 19px;
  letter-spacing: -0.07em;
  line-height: 30px;
}
.title-slogan p span {
  display: block;
  color: #222;
}

.pro_click {
  display: inline-block;
  margin-top: 50px;
  transition: all 0.3s;
}

.bg-phone {
  width: 100%;
  margin: 115px 0 0;
  text-align: center;
}

.how {
  margin: -200px 0 0;
  background: #f1f0e5 url(../source-img/bg_how.jpg) no-repeat 50% 50%;
}

.title-slogan-left {
  margin-top: 170px;
  text-align: left;
}

.btn-detail {
  display: block;
  margin: 56px 0 0;
}

.service-modal {
  display: none;
  position: fixed;
  top: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  text-align: center;
  overflow: auto;
}

.modal-pay {
  overflow: hidden;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 40px;
  right: 40px;
}
.modal-close a {
  display: block;
}

@media screen and (max-width: 1640px) {
  #html5-lightbox-box {
    width: 80% !important;
  }
}
@media screen and (max-width: 1025px) {
  body,
html {
    overflow-x: hidden;
  }

  #main-visual h2 {
    margin: 160px 0 0 100px;
  }

  .title-slogan-left {
    margin-left: 50px;
  }

  .faq-list {
    width: 92%;
    padding: 0 4%;
  }
}
@media screen and (max-height: 930px) {
  .modal-container {
    padding: 80px 0 70px;
  }
}
@media screen and (max-height: 800px) {
  .modal-container {
    padding: 180px 0 170px;
  }
}
@media screen and (max-height: 600px) {
  .modal-container {
    padding: 250px 0 240px;
  }
}
@media screen and (max-height: 400px) {
  .modal-container {
    padding: 400px 0 240px;
  }
}
.tabs-container {
  margin: 85px 0 0;
  text-align: center;
  height: 952px;
}

.tabs-container ul li {
  display: inline-block;
  margin: 0 20px;
}

.tabs-container ul li span {
  display: block;
  margin: 15px 0 0;
  font-family: "Verdana", "Malgun Gothic";
}

.tabs-container ul li.active span {
  color: #ff8829;
}

#advantage {
  position: relative;
}

#advantage:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 380px;
  background: #ff8829;
  z-index: -1;
}

#advantage .container {
  padding: 100px 0 51px;
}

.tabs-body {
  max-width: 745px;
  margin: 100px auto 0;
}

.tabs-body:not(.tabs-body-01) {
  display: none;
}

.phone-image {
  position: relative;
  float: left;
  width: 372px;
  height: 671px;
  background: url(../source-img/bg_phone.png) no-repeat 0 0;
}

.phone-thumb {
  position: absolute;
  top: 82px;
  left: 20px;
}

.phone-thumb img:not(:first-child) {
  display: none;
}

.advantage-group {
  float: right;
  width: 310px;
  margin: 9px 0 0;
  text-align: left;
}

.advantage-01 h3 {
  color: #222;
  font-family: "NanumSquareBold";
  font-size: 39px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 48px;
}

.advantage-01 h3 span {
  display: block;
  font-family: "NanumSquareLight";
}

.advantage-01 p {
  margin: 18px 0 0;
  font-family: "Verdana", "Malgun Gothic";
  font-size: 17px;
  letter-spacing: -0.07em;
  line-height: 25px;
  height: 75px;
}

.advantage-01 p span {
  display: block;
}

.advantage-01 > div:not(:first-child) {
  display: none;
}

.advantage-02 {
  margin: 50px 0 0;
}

.advantage-02 ul {
  margin: -15px 0;
  padding: 80px 0 0;
}

.advantage-02 ul li:after {
  content: "";
  display: block;
  clear: both;
}

.advantage-02 ul li {
  margin: 15px 0;
}

.advantage-02 ul li .icon,
.advantage-02 ul li .advantage-item {
  float: left;
}

.advantage-02 ul li .advantage-item p {
  margin: 0 0 0 20px;
  color: #fff;
  font-family: "Verdana", "Malgun Gothic";
  font-size: 17px;
  letter-spacing: -0.07em;
  line-height: 25px;
}

.advantage-02 > div:not(:nth-child(2)) {
  display: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}